:root {
  --background: #fcfcfc;
  --text-secondary: rgba(11, 8, 39, .77);
  --text: #0b0827;
  --old-version--sahara-orange: #d81e5b;
  --black: black;
  --item-background: white;
  --accent-blue: #0841d1;
  --cta-background: #001e6c;
  --dark-background: #020010;
  --old-version--background-white-portfolio: #fffcf7;
  --old-version--sunny-yellow: #ffff82;
  --old-version--indian-red: #d81e5b;
  --old-version--french-violet: #7a28cb;
  --old-version--classic-black: #333;
  --old-version--sandy-yellow: #fbe382;
  --old-version--royal-red: #d81e5b;
  --white: white;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--background);
  color: var(--text-secondary);
  font-family: Outfit Variablefont Wght, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
}

h1 {
  color: var(--text);
  font-variation-settings: "wght"508;
  letter-spacing: -2px;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Outfit Variablefont Wght, sans-serif;
  font-size: 6.5vw;
  line-height: 1.5;
}

h2 {
  color: var(--text);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Outfit Variablefont Wght, sans-serif;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  color: var(--text);
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Outfit Variablefont Wght, sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.portfolio-item {
  border-bottom: 1px solid var(--old-version--sahara-orange);
  color: #141414;
  text-transform: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: Gabarito, sans-serif;
  text-decoration: none;
  transition: background-color .3s, padding .3s;
  display: flex;
  position: relative;
}

.portfolio-item:hover {
  background-color: rgba(20, 20, 20, .05);
  padding-left: 39px;
}

.wrap-scrolling-text {
  min-height: 400px;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.card-3 {
  z-index: 3;
  width: 33.33%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  flex: none;
  align-self: stretch;
  position: relative;
  overflow: hidden;
}

.card_element-3 {
  z-index: 3;
  width: 33.3333%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  flex: none;
  align-self: stretch;
  position: relative;
  overflow: hidden;
}

.style-guide-text-white-bg {
  background-color: #fff;
}

.footer-text {
  color: rgba(244, 247, 245, .85);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 9px 13px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all .2s;
}

.footer-text:hover {
  background-color: rgba(255, 255, 255, .15);
}

.container-1 {
  flex-direction: column;
  justify-content: space-around;
}

.text-color-magenta {
  color: #b30872;
}

.button-text {
  font-size: 1rem;
  position: relative;
}

.button {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #f4f7f5;
  background-color: #b30872;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 17px 45px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: static;
  overflow: hidden;
}

.button:hover {
  background-color: rgba(228, 0, 140, .95);
}

.button.is-ghost {
  color: #f4f7f5;
  background-color: rgba(217, 251, 82, 0);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem;
  transition: all .2s, color .2s;
  overflow: hidden;
}

.button.is-ghost:hover {
  background-color: rgba(255, 255, 255, .15);
  transform: none;
}

.style-guide-text-block {
  color: var(--black);
  border-bottom: 1px solid #fff;
  margin-top: 80px;
  margin-bottom: 32px;
  padding-bottom: 16px;
  font-size: 1.3rem;
}

.text-color-white {
  color: #f4f7f5;
}

.text-color-white.divider {
  color: var(--item-background);
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-color-black {
  color: var(--text);
}

.color-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
  overflow: hidden;
}

.divider--body-text {
  margin-top: 24px;
  margin-bottom: 24px;
}

.button-arrow {
  position: relative;
}

.button-group {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  align-items: center;
  display: flex;
}

.color-block {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.color-block.is-black {
  background-color: #1e1e24;
}

.color-block.is-magenta {
  background-color: #b30872;
}

.color-block.is-white {
  background-color: #f4f7f5;
}

.page-wrapper {
  overflow: hidden;
}

.hero-section {
  min-height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 3rem;
  padding-bottom: 0;
  display: flex;
  overflow: visible;
}

.hero-container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.scroll-lottie {
  width: 1.6rem;
  opacity: .55;
}

.lottie-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
}

.text-underline {
  background-image: url('../images/text-underline.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.nav-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.hero-content-wrapper {
  width: 100%;
  grid-column-gap: 310px;
  grid-row-gap: 310px;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
}

.nav-links-wrapper {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  display: flex;
}

.section-v2 {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;
  overflow: hidden;
}

.section-v2.contact {
  margin-left: 5%;
  margin-right: 5%;
}

.container-v2 {
  width: 100%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.h2-text-underline {
  background-image: url('../images/h2-underline.svg');
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: contain;
}

.bullet-point-wrapper {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: center;
  display: flex;
}

.icon-embed-custom {
  width: 1.6rem;
  height: 1.1rem;
  color: var(--accent-blue);
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  transition: all .35s;
  display: flex;
}

.icon-embed-custom:hover {
  transform: rotate(230deg);
}

.bullet-point-text {
  font-size: 1.5rem;
}

.bullet-point-text.smaller-text {
  font-size: 1.4rem;
}

.bullet-list-wrapper {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-direction: column;
  display: flex;
  position: relative;
}

.bullet-list-wrapper.max-width {
  max-width: 60%;
}

.bullet-list-wrapper.top-margin {
  margin-top: 40px;
}

.container-content-wrapper {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.container-content-wrapper.direction-horizontal {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: row;
}

.plan-wrapper {
  grid-column-gap: 2.5vw;
  grid-row-gap: 2.5vw;
  flex-direction: row;
  margin-top: 100px;
  display: flex;
}

.plan-item-wrapper {
  max-width: 50%;
  min-height: 500px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--item-background);
  color: var(--accent-blue);
  border-radius: 20px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 45px 75px;
  display: flex;
  box-shadow: 0 2px 11px rgba(0, 0, 0, .12);
}

.plan-icon-embed {
  width: 3.8rem;
  height: 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: all .25s;
  display: flex;
}

.plan-icon-embed:hover {
  transform: rotate(-34deg);
}

.plan-text {
  color: var(--text-secondary);
  text-align: center;
  margin-top: 10px;
  font-size: 1.3rem;
}

.plan-span-smaller-text {
  font-size: 1.1rem;
  font-weight: 600;
}

.plan-top-content-wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.testimonial-wrapper {
  margin-top: 60px;
  position: relative;
}

.display-none {
  display: none;
}

.testimonial-slide {
  background-color: var(--item-background);
  border-radius: 15px;
  margin-right: 100px;
  padding: 50px 101px;
  overflow: visible;
  box-shadow: 0 2px 11px rgba(0, 0, 0, .12);
}

.testimonial-text {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
}

.testimonial-content-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.testimonial-mask {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  overflow: visible;
}

.testimonial-slider {
  height: auto;
  max-width: 1100px;
  background-color: rgba(221, 221, 221, 0);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.testimonial-text-highlight {
  font-size: 2.1rem;
  font-weight: 500;
}

.testimonial-text-highlight.fix-size-down {
  font-size: 2rem;
  line-height: 1.2;
}

.testimonial-author-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.testimonial-author-name-wrapper {
  max-width: 220px;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.testtimonial-author-name {
  font-size: 1.3rem;
  font-weight: 500;
}

.testimonial-author-job {
  font-size: 1.1rem;
}

.icon-embed-custom-3 {
  width: 1.0625rem;
  height: 1.8125rem;
  color: var(--accent-blue);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  display: flex;
}

.icon-embed-custom-3:hover {
  color: #574fdf;
}

.right-arrow {
  width: auto;
  color: var(--accent-blue);
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
  top: auto;
  bottom: -18%;
  left: auto;
  right: 0%;
}

.icon-embed-custom-4 {
  width: 1.0625rem;
  height: 1.8125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  display: flex;
}

.icon-embed-custom-4:hover {
  color: #574fdf;
}

.left-arrow {
  width: auto;
  color: var(--accent-blue);
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
  top: auto;
  bottom: -18%;
  left: auto;
  right: 7%;
}

.cta-text {
  color: var(--background);
  margin-top: 40px;
}

.cta-text.no-top-margin {
  margin-top: 0;
  font-size: 1.4rem;
}

.cta-text.small {
  margin-top: 0;
  font-size: 1rem;
}

.heading-mask {
  overflow: hidden;
}

.page-load-span {
  display: inline-block;
}

.contact-body {
  background-color: #020010;
}

.contact-text {
  color: #fcfcfc;
  margin-top: 60px;
  font-size: 2.6rem;
}

.social-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  color: var(--background);
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.social-embed {
  width: 5rem;
  height: 3.9rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .225s;
  display: flex;
}

.social-embed:hover {
  color: #574fdf;
}

.social-embed.home-page {
  width: 2rem;
  height: 2rem;
}

.button-v2 {
  background-color: var(--item-background);
  color: var(--text);
  text-transform: uppercase;
  border-radius: 10px;
  padding: 27px 220px;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all .3s;
  box-shadow: 0 2px 14px rgba(255, 255, 255, .28);
}

.button-v2:hover {
  color: #574fdf;
  transform: translate(-2px, 2px);
  box-shadow: 7px 7px #574fdf;
}

.about-me-wrapper {
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.about-me-img-wrapper {
  border-radius: 15px;
  align-self: center;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  overflow: hidden;
}

.ab-me-image {
  border-radius: 15px;
}

.heading-smaller {
  font-size: 2.9rem;
}

.past-work-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  margin-top: 40px;
  display: flex;
}

.past-work-item {
  max-width: 450px;
  background-color: var(--item-background);
  color: var(--text-secondary);
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 2px 11px rgba(0, 0, 0, .12);
}

.past-work-text {
  font-size: 1.25rem;
}

.past-work-img-wrapper {
  max-width: 100%;
  flex: none;
  margin-top: 30px;
}

.past-work-img {
  border-radius: 20px;
}

.last-cta-wrapper {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: var(--cta-background);
  text-align: center;
  background-image: linear-gradient(135deg, #000 38%, rgba(0, 0, 0, .4) 68%, rgba(0, 0, 0, .6) 87%);
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 75px 40px;
  display: flex;
}

.cta-heading {
  color: var(--background);
  font-size: 3.2rem;
}

.cta-social-wrapper {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.past-work-text-wrapper {
  text-align: left;
  flex-direction: column;
  display: flex;
}

.text-span-38 {
  text-decoration: underline;
}

.past-work-body {
  background-color: var(--dark-background);
  color: var(--background);
  font-size: 2.5rem;
}

.past-work-heading {
  color: var(--background);
  margin-bottom: 60px;
  font-size: 8.2rem;
  line-height: 1.5;
}

.past-work-description {
  color: rgba(252, 252, 252, .7);
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.3;
}

.bold-text, .bold-text-2, .bold-text-3 {
  font-weight: 500;
}

.gallery17_slide-nav {
  height: 1.75rem;
  font-size: .5rem;
  display: none;
}

.gallery17_mask {
  width: 50%;
  overflow: visible;
}

.gallery17_lightbox-link {
  width: 100%;
}

.gallery17_arrow-icon {
  width: 2rem;
  height: 2rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.gallery17_arrow {
  z-index: 10;
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.gallery17_arrow:hover {
  background-image: linear-gradient(rgba(247, 247, 247, .5), rgba(247, 247, 247, .5));
}

.gallery17_arrow.left-arrow {
  bottom: -7%;
  right: 9%;
}

.gallery17_arrow.right-arrow {
  bottom: -7%;
  right: 3%;
}

.gallery17_image-wrapper {
  width: 100%;
}

.gallery17_slider {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 60px;
  padding-bottom: 4rem;
  position: relative;
}

.gallery17_image {
  height: 100%;
  border-radius: 5px;
}

.gallery17_slide {
  margin-right: 40px;
}

.past-work-back-wrapper {
  border: 3px solid var(--background);
  border-radius: 100%;
  padding: 13px;
  transition: all .2s;
  position: absolute;
  top: 2%;
  bottom: auto;
  left: 2%;
  right: auto;
}

.past-work-back-wrapper:hover {
  background-color: rgba(255, 255, 255, .39);
}

.bold-text-4, .bold-text-5, .bold-text-6, .bold-text-7, .bold-text-8 {
  font-weight: 500;
}

.text-allign-center {
  text-align: center;
}

.ab-me-sticky-img {
  width: 100%;
  height: 100%;
  padding-top: 0;
  display: block;
  position: static;
  top: 0;
}

.arrow-wrapper {
  position: absolute;
  top: auto;
  bottom: -65%;
  left: auto;
  right: 2%;
  transform: rotate(23deg);
}

.lottie-wrapper-mobile {
  width: 100%;
  justify-content: center;
  display: none;
}

.scroll-lottie-mobile {
  width: 1.6rem;
  opacity: .55;
}

.social-embed-link-wrapper {
  color: var(--background);
  text-decoration: none;
}

.text-color-violet {
  color: #574fdf;
}

.social-link-wrapper-cta {
  color: var(--background);
}

.big-heading-2 {
  font-size: 4.5vw;
}

.navbar-link {
  color: var(--text);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 6px;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s;
}

.navbar-link:hover {
  border-top-style: none;
  border-top-width: 0;
  border-right-style: none;
  border-right-width: 0;
  border-bottom-color: var(--accent-blue);
  border-left-style: none;
  border-left-width: 0;
}

.last-cta-wrapper-portfolio {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: var(--background);
  text-align: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  padding: 75px 75px 40px;
  display: flex;
}

.cta-heading-portfolio {
  color: var(--text);
  font-size: 3.2rem;
}

.cta-text-portfolio {
  color: var(--text);
  margin-top: 40px;
}

.cta-text-portfolio.small {
  margin-top: 0;
  font-size: 1rem;
}

.button-v2-portfolio {
  background-color: var(--text);
  color: var(--background);
  text-transform: uppercase;
  border-radius: 10px;
  padding: 27px 220px;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all .3s;
  box-shadow: 0 2px 14px rgba(255, 255, 255, .28);
}

.button-v2-portfolio:hover {
  color: #b3afff;
  transform: translate(-2px, 2px);
  box-shadow: 7px 7px #574fdf;
}

.cta-social-wrapper-portfolio {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.social-wrapper-portfolio {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  color: var(--text);
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.social-link-wrapper-cta-portfolio {
  color: var(--background);
}

.social-embed-portfolio {
  width: 2.5rem;
  height: 2.7rem;
  color: var(--text);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .225s;
  display: flex;
}

.social-embed-portfolio:hover {
  color: #574fdf;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 2.9rem;
  }

  h3 {
    text-align: left;
  }

  .card-3, .card_element-3 {
    width: auto;
    flex: none;
  }

  .footer-text {
    font-size: 1rem;
  }

  .button-text {
    font-size: .9rem;
  }

  .button {
    padding: 15px 25px;
    font-size: .9rem;
  }

  .button-group {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .lottie-wrapper {
    opacity: 0;
    display: none;
  }

  .text-underline {
    background-position: 50% 105%;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.3;
  }

  .hero-content-wrapper {
    grid-column-gap: 260px;
    grid-row-gap: 260px;
  }

  .section-v2 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .plan-wrapper {
    margin-top: 60px;
  }

  .plan-item-wrapper {
    padding: 41px 25px;
  }

  .plan-icon-embed {
    width: 3.5rem;
    height: 7.4rem;
  }

  .testimonial-slide {
    padding-left: 63px;
    padding-right: 63px;
  }

  .testimonial-slider {
    padding: 10px;
  }

  .right-arrow, .left-arrow {
    bottom: -11%;
  }

  .cta-text.no-top-margin {
    font-size: 1.3rem;
  }

  .button-v2 {
    margin-right: 0;
    padding-left: 58px;
    padding-right: 58px;
    font-size: 1.4rem;
  }

  .ab-me-image {
    height: 300px;
    object-fit: cover;
  }

  .past-work-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .past-work-item {
    max-width: 335px;
  }

  .cta-heading {
    font-size: 2.7rem;
  }

  .past-work-heading {
    margin-bottom: 40px;
    font-size: 6.1rem;
  }

  .past-work-description {
    font-size: 1.9rem;
  }

  .gallery17_arrow-icon {
    width: 2rem;
    height: 2rem;
    margin-top: -2px;
    margin-left: -3px;
  }

  .gallery17_arrow-icon.no-margin {
    margin-top: 0;
    margin-left: 0;
  }

  .gallery17_arrow {
    width: 2rem;
    height: 2rem;
    display: none;
  }

  .gallery17_arrow.left-arrow {
    width: 3rem;
    height: 3rem;
    right: 21%;
  }

  .gallery17_arrow.right-arrow {
    width: 3rem;
    height: 3rem;
  }

  .heading-5 {
    white-space: normal;
    font-size: 11vw;
    line-height: 1.4;
  }

  .contact-heading {
    font-size: 9vw;
  }

  .arrow-wrapper {
    top: auto;
    left: auto;
    right: 22%;
  }

  .lottie-wrapper-mobile {
    opacity: 1;
    display: flex;
  }

  .scroll-lottie-mobile {
    width: 5rem;
    opacity: 1;
  }

  .big-heading-2 {
    font-size: 2.9rem;
  }

  .cta-heading-portfolio {
    font-size: 2.7rem;
  }

  .button-v2-portfolio {
    margin-right: 0;
    padding-left: 58px;
    padding-right: 58px;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.6rem;
  }

  .portfolio-item:hover {
    padding-left: 0;
  }

  .wrap-scrolling-text {
    min-height: 250px;
  }

  .button-text {
    text-align: center;
  }

  .button {
    text-align: center;
    padding: 15px 17px;
    font-size: .9rem;
  }

  .button.is-ghost {
    padding-left: 17px;
    padding-right: 17px;
  }

  .button-group {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .hero-section {
    min-height: 83vh;
  }

  .hero-content-wrapper {
    grid-column-gap: 190px;
    grid-row-gap: 190px;
  }

  .section-v2 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .section-v2.overflow-show {
    overflow: visible;
  }

  .bullet-point-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .icon-embed-custom {
    width: 1.3rem;
    height: .9rem;
  }

  .bullet-list-wrapper.max-width {
    max-width: none;
  }

  .container-content-wrapper.direction-horizontal {
    flex-direction: column;
  }

  .plan-wrapper {
    flex-direction: column;
    padding: 11px;
  }

  .plan-item-wrapper {
    max-width: none;
    min-height: 490px;
  }

  .testimonial-slide {
    padding-left: 28px;
    padding-right: 28px;
  }

  .testimonial-slider {
    padding: 10px;
  }

  .right-arrow {
    bottom: -16%;
  }

  .left-arrow {
    bottom: -16%;
    right: 15%;
  }

  .cta-text.no-top-margin {
    font-size: 1.2rem;
  }

  .contact-text {
    font-size: 1.9rem;
  }

  .social-embed {
    width: 3.9rem;
    height: 2.8rem;
  }

  .about-me-wrapper {
    flex-direction: column;
    display: flex;
  }

  .about-me-img-wrapper {
    width: 50%;
    align-self: flex-start;
  }

  .content-wrapper {
    max-width: none;
  }

  .ab-me-image {
    height: auto;
  }

  .heading-smaller {
    font-size: 2.5rem;
  }

  .past-work-item {
    max-width: 480px;
  }

  .last-cta-wrapper {
    padding-top: 67px;
    padding-left: 21px;
    padding-right: 21px;
  }

  .cta-heading {
    font-size: 2.7rem;
  }

  .past-work-heading {
    font-size: 3.9rem;
  }

  .past-work-description {
    font-size: 1.7rem;
  }

  .gallery17_mask {
    width: 100%;
  }

  .gallery17_slider {
    padding-bottom: 3rem;
  }

  .gallery17_slide {
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .heading-5 {
    font-size: 15vw;
    line-height: 1.1;
  }

  .contact-heading {
    white-space: normal;
    font-size: 14vw;
    line-height: 1.1;
  }

  .contact-heading.text-color-white {
    white-space: normal;
  }

  .arrow-wrapper {
    transform: rotate(-1deg);
  }

  .big-heading-2 {
    font-size: 2.6rem;
  }

  .navbar-link {
    font-weight: 400;
  }

  .last-cta-wrapper-portfolio {
    padding-top: 67px;
    padding-left: 21px;
    padding-right: 21px;
  }

  .cta-heading-portfolio {
    font-size: 2.7rem;
  }

  .social-embed-portfolio {
    width: 3.9rem;
    height: 2.8rem;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 2.1rem;
  }

  .card-3, .card_element-3 {
    width: 100%;
    flex: 1;
  }

  .footer-text {
    font-size: .9rem;
  }

  .button {
    padding: 15px 11px;
  }

  .button-group {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .hero-section {
    min-height: 78vh;
  }

  .hero-content-wrapper {
    grid-column-gap: 180px;
    grid-row-gap: 180px;
  }

  .section-v2.overflow-show {
    overflow: visible;
  }

  .bullet-point-wrapper {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .bullet-point-text {
    font-size: 1.4rem;
  }

  .bullet-point-text.smaller-text {
    font-size: 1.3rem;
  }

  .plan-wrapper {
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    margin-top: 40px;
  }

  .plan-item-wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .plan-icon-embed {
    width: 2.8rem;
    height: 6.7rem;
  }

  .plan-text {
    font-size: 1.2rem;
  }

  .testimonial-slide {
    padding: 35px 10px;
  }

  .testimonial-text {
    font-size: 1.2rem;
  }

  .testimonial-slider {
    padding: 10px;
  }

  .testimonial-text-highlight {
    color: var(--text);
    font-size: 1.8rem;
  }

  .testimonial-text-highlight.fix-size-down {
    font-size: 1.7rem;
  }

  .testtimonial-author-name {
    font-size: 1.2rem;
  }

  .testimonial-author-job {
    font-size: 1rem;
  }

  .right-arrow {
    bottom: -14%;
  }

  .left-arrow {
    bottom: -14%;
    right: 22%;
  }

  .contact-text {
    font-size: 1.4rem;
  }

  .social-wrapper {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }

  .social-embed {
    width: 3.3rem;
    height: 2.4rem;
  }

  .button-v2 {
    padding: 23px 8px;
    font-size: 1.3rem;
    line-height: 1.4;
  }

  .about-me-img-wrapper {
    width: 70%;
  }

  .heading-smaller {
    font-size: 2.1rem;
  }

  .past-work-item {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .last-cta-wrapper {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .cta-heading {
    font-size: 2.2rem;
  }

  .past-work-heading {
    white-space: normal;
    font-size: 3.4rem;
    line-height: 1.1;
  }

  .past-work-description {
    font-size: 1.5rem;
  }

  .gallery17_arrow-icon {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: -2px;
    margin-left: -3px;
  }

  .gallery17_arrow.left-arrow, .gallery17_arrow.right-arrow {
    width: 2rem;
    height: 2rem;
  }

  .heading-5 {
    font-size: 16.1vw;
  }

  .text-allign-center {
    font-size: 1.7rem;
  }

  .contact-heading {
    font-size: 14vw;
  }

  .arrow-wrapper {
    bottom: -42%;
  }

  .big-heading-2 {
    font-size: 2.1rem;
  }

  .last-cta-wrapper-portfolio {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 8rem;
  }

  .cta-heading-portfolio {
    font-size: 2.2rem;
  }

  .button-v2-portfolio {
    padding: 23px 8px;
    font-size: 1.3rem;
    line-height: 1.4;
  }

  .social-wrapper-portfolio {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }

  .social-embed-portfolio {
    width: 3.3rem;
    height: 2.4rem;
  }
}

#w-node-_277d478c-e891-b66c-2be8-de3f89077d1c-c687f40b {
  align-self: auto;
}


@font-face {
  font-family: 'Elmessiri Variablefont Wght';
  src: url('../fonts/ElMessiri-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit Variablefont Wght';
  src: url('../fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kyivtypetitling';
  src: url('../fonts/KyivTypeTitling-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kyivtypetitling';
  src: url('../fonts/KyivTypeTitling-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kyivtypetitling';
  src: url('../fonts/KyivTypeTitling-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}